@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.remark-slide-number {
  visibility: hidden;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
} 


h1, h2, h3 {
  font-weight: bold;
  color: #405C6D;
  margin: 0 0 0.5em 0;
}

.inverse {
  background-color: #405C6D;
  color: #ffffff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

a {
  color: #405C6D;
  text-decoration: none;
}

.remark-slide>.remark-slide-content {
  padding-top: 12px;
}

.remark-slide-content{
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
}

.remark-slide-content table {
  font-size: 18px;
  padding-left: 1px;
  padding-right: 1px;
}

.large { font-size: 22px }
.midi { font-size: 18px }
.small { font-size: 14px }
.smaller { font-size: 12px }
.tinyish { font-size: 11px }
.tiny { font-size: 10px }

.small .remark-code { font-size: 16px; }
.smaller .remark-code { font-size: 14px; }
.tinyish .remark-code { font-size: 12px; }
.tiny .remark-code { font-size: 11px; }






.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 1em;
  font-size: 80%;
}

.footnote:before {
  content: "\2022";
  padding-right: 0.5em;
}


.remark-code, .remark-inline-code { 
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace; 
}
.remark-code-line-highlighted     { background-color: #ffff88; }




.center {
  text-align:center;
}

.columns img {
  width: 100%;
}

.columns > div:first-of-type, .columns > pre:first-of-type  {
  float: left;
  width: 47%;
}

.columns > div:nth-of-type(2), .columns > pre:nth-of-type(2) {
  float: right;
  width: 47%;
}

.columns > pre:first-of-type  {
  float: left;
  width: 49%;
}

.columns > pre:nth-of-type(2) {
  float: right;
  width: 49%;
}


.columns {
  overflow: auto;
  /*padding-top: 1em;*/
  padding-bottom: 1em;
}

.columns::after {
  content: "";
  clear: both;
  display: table-column-group;
}

.center-column {
  display: table;
  width: auto;
  max-width: 66%;
  margin: 0 auto;
}

.col {
  /*padding: 1%;*/
}

.example {
  width: 50%;
  margin: 0 auto;
}



.console, .shell, .docker, .ubuntu, .fedora, .rhel, .sbatch {
  padding: 1%;
  border-width: 1px;
  border-style: solid;
}

.ubuntu, .fedora, .rhel, .sbatch {
  margin-top: 1.5em;
}

.console, .shell, .docker, .sbatch {
  border-color: #000000;
  background: #00000033;
}

.ubuntu {
  border-color: #E95420;
  background: #F8DFD6;
}

.fedora {
  border-color: #2B426F;
  background: #D5D9E2;
}

.rhel {
  border-color: #004153;
  background: #D1D9DC;
}

.ubuntu::before, .fedora::before, .rhel::before, .sbatch::before {
  border: inherit;
  background: inherit;
  position: relative;
  padding: 0 25px;
  top: -1em;
  font-size: 16px;
}

.ubuntu>*:first-child, .fedora>*:first-child, .rhel>*:first-child, .sbatch>*:first-child {
  margin-top: -2em;
}

.ubuntu>*:last-child, .fedora>*:last-child, .rhel>*:last-child, .sbatch>*:last-child {
  margin-bottom: 0;
}

.ubuntu::before {
  content: "Ubuntu";
}

.fedora::before {
  content: "Fedora";
}

.rhel::before {
  content: "RHEL";
}

.sbatch::before {
  content: "sbatch";
}



blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

li{
  margin: 10px 0;
}

img, video, iframe {
  max-width: 100%;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { 
  padding: 5px; 
  padding-right: 30px;
  padding-left: 10px;
}
thead, tfoot, tr:nth-child(even) { background: #eee }




